/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  height: 100%;
  width: 100%;
}

article {
  width: 800px;
  max-width: 100%;
  padding: 24px 16px;
  box-sizing: border-box;
}
